  /* Header Start */
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    
    overflow: hidden;

    bottom: 0;
    width: 100%;
    color: #222831;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a green background color to the active link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the navbar on small screens */
  .navbar .icon {
    display: none;
  }
  
  /*  buttons Start  */ 
  .btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }

  /*product cards*/
  .card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    max-width: 30%;
    margin: 9px;
    text-align: center;
    font-family: arial;
    float: left;
  }
  
  .price {
    color: grey;
    font-size: 20px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 83%;
    font-size: 18px;
    margin: 7px;
    border-radius: 10px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }


  